{
    "api": {
        "discord": {
            "token": "NDUzMjQ5NTQ3NDQ4MzUyNzY4.DfcJDA.z28pvtJXAP8NrMLBTTkgNkXvc7M"
        }
    },
    "games": [
        {
            "name": "QuesttoGreatness",
            "prettyName": "Quest to Greatness",
            "path": "/tmp/foobar.z5"
        }
    ],
    "settings": {
        "commandPrefix": "$",
        "commentPrefix": "//"
    }
}
